* {
    /* outline: solid 1px red; */
    font-family: "Montserrat", sans-serif;
}
.container {
    width: 100%;
    max-width: 1134px;
    margin: 0 auto;
    padding: 0 12px;
}
.hero {
    background-image: url("img/tower.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    display: inline-block;
    font-size: 16px;
    padding: 5px 36px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    border: solid 2px #fff;
    border-radius: 5px;
    color: #fff;
    transition: all ease 0.3s;
}
.login:hover {
    background-color: #fff;
    color: #1c2230;
}
.travelcream {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    margin-right: 13px;
    text-decoration: none;
}
.header_left {
    display: flex;
}
nav a {
    margin-top: 1px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 0 13px;
    text-transform: capitalize;
    transition: all ease 0.3s;
}
nav a:hover {
    opacity: 0.7;
}
.main_title {
    color: #fff;
    text-align: center;
    margin-top: 32vh;
}
.main_title h1 {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 30px;
}
.main_title h2 {
    font-size: 30px;
    font-weight: 400;
}
/* Antra dalis */
.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 50px 0 60px;
}
.top_menu h3 {
    margin: 0;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #484848;
}
.top_menu button {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #484848;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    margin-left: 27px;
}
.top_menu_left button:hover {
    color: #FF4B64;
}
.middle_menu {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
.middle_menu article {
    width: calc(33.33% - 20px);
    margin-bottom: 30px;
}
.block img {
    width: 100%;
    display: block;
}
.block_info {
    border: solid 1px #e6e6e6;
    border-top: 0;
    padding-top: 15px;
}
.km_wifi {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #9A9A9A;
}
h6 {
    margin: 0px 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.jumbo {
    margin-top: 8vh;
}
.price_info {
    display: inline-block;
    font-size: 16px;
    padding: 5px 36px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    border: solid 2px #FF4B64;
    border-radius: 5px;
    color: #FF4B64;
    transition: all ease 0.3s;
    margin: 5px 0px 25px 15px;
}
.price_info:hover {
    background-color: #FF4B64;
    color: #ffffff;
}
.block {
    margin-bottom: 4vh;
}
.bottom_menu {
    display: flex;
    justify-content: flex-end;
}
.bottom_menu a {
    color: #484848;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.bottom_menu a:hover {
    color: #FF4B64;
}
